services:
  frontend:
    image: frontend
    build:
      context: ./client-react/
      dockerfile: Dockerfile
    networks:
      - frontend
    volumes: 
      - type: bind
        source: ./client-react/
        target: /usr/src/app
      - type: volume
        source: node_modules
        target: /usr/src/app/node_modules
    ports:
      - "80:80"
    restart: unless-stopped

  api-node:
    image: api-node
    build:
      context: ./api-node/
      dockerfile: Dockerfile.2
    init: true
    environment:
      - DATABASE_URL=${DATABASE_URL}
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - frontend
      - backend
    ports:
      - "3000:3000"
    restart: unless-stopped

  db:
    image: postgres:15.1-alpine
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    env_file:
      - .env
    networks:
      - backend
    ports:
      - "5432:5432"

volumes:
  pgdata:
  node_modules: 

networks:
  frontend:
  backend:
